.main-title {
  background-color: #222222;
  color: #eeeeee;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 20px 30px 0px 40px;
  /* margin-top: -10px; */
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

h1 {
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 1 10 1 10px;
}

#content {
  background-color: #dddddd;
  /* font-family: 'Roboto', sans-serif; */
}

.api-table {
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-style:none;
}

.api-column {
  width: 50%;
  padding-top: 20px;
  vertical-align: text-top;
  border-style: none;
}

.spaced-item{
  padding-top: 15px;
}