<html>

<head>
  <meta charset="utf-8">
  <title>Consul Connect Demo</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" type="text/css" href="static/styles.css" />

  <div class="main-title">
    <h1>Consul Connect Demo - Web Client</h1>
    <p>
      Example web client calling two different API services using connections facilitated by Consul
    </p>
  </div>

</head>

<body id="content">

  <table class="api-table">
    <tr>

      <td class="api-column">
        <h3>Listing API</h3>

        <!-- {% if is_connect == "1" %}<b>Secured with Consul Connect</b>{% endif %} -->

          {% if listings_list %}
          <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Reserve</th>
              <th>Current Bid</th>
            </tr>
            {% for listing in listings_list %}
            <tr>
              <td>{{ listing.listing_id }}</td>
              <td>{{ listing.name }}</td>
              <td>{{ listing.reserve }}</td>
              <td>{{ listing.current_bid }}</td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <p>
            <font color="red">There was a problem calling the Listing API...</font>
          </p>
          {% endif %}

      </td>

      <td class="api-column">
        <h3>Product API</h3>

        <!-- {% if is_connect == "1" %}<b>Secured with Consul Connect</b>{% endif %} -->

          {% if prod_list %}
          <table>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Cost</th>
            </tr>
            {% for prod in prod_list.res %}
            <tr>
              <td>{{ prod.inv_id }}</td>
              <td>{{ prod.name }}</td>
              <td>{{ prod.cost }}</td>
            </tr>
            {% endfor %}
          </table>

        <h4 class="spaced-item">Instance</h4>
          Result from instance <font color="blue">{{ prod_list.instance_id }}</font>

        <h4 class="spaced-item">Configuration</h4>
          <table>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
            {% for key, value in prod_list.conf.items() %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
            {% endfor %}
          </table>
          {% else %}
          <p>
            <font color="red">There was an error calling Product API...</font>
          </p>
          {% endif %}
      </td>

    </tr>
  </table>
</body>

</html>